
@font-face {
    font-family: pokeFont;
    src: url(images/Pokemon\ Solid.ttf);
  }
  
  

.nav-wrapper{
    background-image: url(images/banner.jpg);
    font-family: pokeFont;
 assets
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

}

button{
    padding: 0px;
    background-color: rgba(0,0,0,0.5);
}

.sidenav{
    background-image: url(images/pokedex.jpg);
    background-size: cover;
    color:black;
}

#sidenav-style{
    
}

label{
    font-size: 28px;
    color: yellow;
    
}
input{
    text-align: center;
    color: black;
}

body {
    height: 100%;
    width:100%;
    margin: 0;
    align-items: flex-start;
    background-image: url(images/Pbackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}



.container{
    width: auto;
    height: 50%;
    flex-direction: row;
    color: yellow;
    background-color: rgb(52, 147, 202);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration:double;
    background-image: url(https://icon-library.com/images/pokeball-icon-transparent/pokeball-icon-transparent-18.jpg);
}

.col-sm-8{
    width: 25%;
    background-color: lightgray;
    border-radius: 10%;
}

#generation-search{
    width: auto;
    height:auto;
    background-color:lightgray;
    border: solid, black;
    border-radius: 2px;
    color: black;
}

#type-search{
    width: auto;
    height:auto;
    background-color: lightgray;
    border: solid, black;
    border-radius: 2px;
    color: black;
}

#search-button{
    width: 75px;
    height:auto;
    background-color: lightgray;
    border: solid, black;
    border-radius: 2%;
}

#generation-search:hover{
    background-color: dimgray;
}

#type-search:hover{
    background-color: dimgray;
}

#search-button:hover{
    background-color: dimgray;
}

.col-sm-8:hover{
    background-color: dimgray;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 85px;
    width: 25%; /* Full width */
    height: 115%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;

  }

  #collections-modal{      
      position: fixed;
      left: 400px;
      top: 125px;
      width: 50%;
  }




  #collections-modal .modal-content{
      background-image: url(images/modalbground.jpg);
      background-size: cover;
      height: -webkit-fill-available;
      height: 100%;
      width: 100%;
      overflow: auto;
  }

  #collections-modal img{
    padding: 10px;
    height: 300px;
  }

.modal-content img{
    height: 385px;
    justify-content: center;
}

.modal-content button img{
    height: 30px;
    border-radius: 45px;
}



#pokeResults img{
  padding: 10px;
  height: 300px;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
